.row{
  background: transparent;
  width: 100%;
  }
  footer{
    width: 100%;
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px transparent;
  }

  @media screen and (max-width: 1000px){
    .row{
      text-align: center;
         }
 }


  @media screen and (max-width: 635px) {
    .row{
 text-align: center;
    }
  }


    @media screen and (max-width: 500px){
      .row{
        text-align: center;
           }
        }





    @media screen and (max-width: 450px) {
      .row{
        text-align: center;
           }
    }
