<div class="sobre-mi" id="1">
  <h2>SOBRE MI</h2>
 </div>

 <div>
   <img src="../../../assets/Logos/pc.png" id="pc">
 </div>
 <div>
   <p>Soy una persona apasionada por la Tecnología, si bien no fue de siempre, hace aproximadamente 2 años descubrí el mundo de la programación y desde allí supe que era lo que quería. Me siento cómodo desarrollando tanto en el FrontEnd como en el BackEnd, me desenvuelvo muy bien trabajando en equipo congeniando ideas y aprendiendo de mis compañeros. Sé que en poco tiempo y con un objetivo claro, podre crear grandes cosas. Este portafolio es el primero que hago, en el mismo dentro del FrontEnd utilice los framework Angular y Bootstrap, por el lado del BackEnd utilice Java con SpringBoot, MySQL como motor de base de datos y JWT para administrar la seguridad.</p>
 </div>

