<div class="tit" id="2">
<h2>Educacion/Experiencia</h2>
</div>
<div class="timeline">
  <ul>
   <li>
    <div class="content">
      <h3>Alura LATAM</h3>
      <p>Curso de programacion de 10meses, donde aprendi muchas cosas, relacionadas al FrontEnd.
        Dentro de ellas se vio Html,Css y JS de principio a un nivel intermedio.
      </p>
    </div>
    <div class="time">
      <h4> Febrero 2021</h4>
    </div>
   </li>
   <li>
    <div class="content">
      <h3>Portafolio AP</h3>
      <p>Primer y unico portafolio creado actualmente, donde desarrolle y apliqué mis conocimientos aprendidos durante el curso de desarrollo Web FullStack</p>
    </div>
    <div class="time">
      <h4>Agosto 2021</h4>
    </div>
   </li>
   <li>
    <div class="content">
      <h3>Argentina Programa</h3>
      <p>Curso de programacion dividido en 2 partes, #SeProgramar y #YoProgramo. Esta ultima en curso actualmente donde estoy aprendiendo mucho sobre el FrontEnd y BackEnd de una pagina web. Dentro del curso se aprende a utilizar Frameworks como Angular y Bootstrap para el frontEnd y utilizando Java con SpringBoot para el BackEnd, MySQL para base de datos y JWT para administrar seguridad </p>
    </div>
    <div class="time">
      <h4>Agosto 2021</h4>
    </div>
   </li>
   <li>
    <div class="content">
      <h3>Venta de Sommiers</h3>
      <p>Trabajo en la actualidad desde hace 2 años, Donde trato de implementar lo aprendido a la hora de diseñar mi propia pagina web para mi emprendimiento!
      </p>
    </div>
    <div class="time">
      <h4>Junio 2020</h4>
    </div>
   </li>
   <li>
    <div class="content">
      <h3>Egg Education</h3>
      <p>Curso de Programacion que estoy por comenzar, donde reforzare el contenido aprendido en el curso de Argentina Programa donde recibi herramientas para ser un mejor desarrollador.</p>
    </div>
    <div class="time">
      <h4>Agosto 2022</h4>
    </div>
   </li>
   <li>
    <div class="content">
      <h3>Web Vestimenta masculina</h3>
      <p>A principios del año 2022 desarrolle una pagina web para un amigo el cual tenia una emprendimiento de ropa Masculina(Remeras,Pantalones y abrigos). El emprendimiento actualmente dejo de funcionar</p>
    </div>
    <div class="time">
      <h4>Febrero 2022</h4>
    </div>
   </li>
   <div style="clear:both;"></div>
  </ul>
</div>
